* {
	background-color: #f5f5f5;
	box-sizing: border-box;
}

header {
	position: sticky;
	top: 0;
	background-color: #fbc02d;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 200px;
	z-index: 20;
}

h1 {
	font-size: 300%;
	font-family: 'Roboto Slab', serif;
	background-color: #fbc02d;
	padding-left: 3rem;
}

nav {
	font-size: 1em;
	background-color: #fbc02d;
	padding: 0.5rem;
}

.nav-ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #fbc02d;
}

.nav-link {
	padding: 0.67em;
	display: inline-block;
	background-color: #fbc02d;
	font-weight: 600;
	font-size: 150%;
	color: #000000;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	width: 9rem;
	text-align: center;
}

.nav-link:hover {
	color: #c49000;
	font-family: 'Roboto Slab', serif;
}

.hero {
	width: 100%;
}

hr {
	height: 0.08px;
	background-color: #000000;
	position: -webkit-sticky;
	position: sticky;
	top: 200px;
	z-index: 10;
}

.about {
	display: flex;
	flex-direction: column;
	width: 90%;
	font-family: 'Open Sans', sans-serif;
	padding-top: 50px;
	font-size: 125%;
	line-height: 1.25;
	text-align: justify;
	margin: 0 auto;
	scroll-margin-top: 10em;
}

.my-work {
	padding-top: 5rem;
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: center;
	scroll-margin-top: 10em;
}

.container-first {
	position: relative;
	width: 60rem;
	max-width: 1000px;
}

.container {
	position: relative;
	width: 30rem;
	max-width: 500px;
}

.overlay {
	position: absolute;
	bottom: 0;
	background: #fbc02d;
	color: #000000;
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	font-family: 'Roboto Slab', serif;
	font-size: 2rem;
	padding: 2rem;
	text-align: center;
}

.container:hover .overlay {
	opacity: 1;
}

.container-first:hover .overlay {
	opacity: 1;
}

.first-project {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	height: auto;
}

.projects {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	height: auto;
}

.line-break {
	width: 100%;
}

.contact-container {
	display: block;
	width: 90%;
	margin: 1.5rem auto;
	padding: 3rem;
	border: 0.08rem solid #000000;
	background: #fbc02d;
}

h2 {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	background: #fbc02d;
	font-size: 200%;
	padding: 1.5rem;
}

.contact-ul {
	display: block;
	background-color: #fbc02d;
	text-align: center;
}

li {
	background-color: #fbc02d;
	padding-top: 1.5rem;
}

.contact-li {
	margin: auto;
	background-color: #fbc02d;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 125%;
	font-weight: 600;
	color: #000000;
}

.contact-li:hover {
	color: #c49000;
	font-family: 'Roboto Slab', serif;
}

h4 {
	font-family: 'Roboto Slab', serif;
}

.footer-p {
	font-family: 'Open Sans', sans-serif;
}

.valerie {
	font-family: 'Roboto Slab', serif;
}

@media screen and (max-width: 1072px) {
	header {
		flex-direction: column;
		width: 100%;
		flex-grow: 1;
		font-size: 0.7em;
	}

	.nav-link {
		padding: 0.5em;
	}

	.hero {
		display: none;
	}

	.about {
		flex-direction: column;
		width: 90%;
		justify-content: space-around;
	}
}
