* {
	background-color: #f5f5f5;
	box-sizing: border-box;
}

header {
	position: sticky;
	top: 0;
	background-color: #fbc02d;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-size: 300%;
	font-family: 'Roboto Slab', serif;
	background-color: #fbc02d;
	padding: 30px;
}

nav {
	font-size: 1em;
	background-color: #fbc02d;
	padding: 30px;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #fbc02d;
}
.nav-link {
	padding: 0.75em;
	background-color: #fbc02d;
	font-weight: 600;
	font-size: 150%;
	color: #000000;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	width: 200px;
}

.nav-link:hover {
	color: #c49000;
	font-family: 'Roboto Slab', serif;
}

.hero {
	width: 100%;
	padding-bottom: 3rem;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font

}
